@import url(../styleIndex.css);
@import url(styleCards.css);

#vantaBirds {
  position: fixed;
}

.projectsPage {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
}
