@import url(../styleIndex.css);
@import url(styleCards.css);

.projectsPage {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.projectsBottomContentContainer {
  position: relative;
  display: flex;
  justify-content: center;
  top: 23%;
  height: 70vh;
  padding-left: 3%;
  padding-right: 3%;
  gap: 30px;
}

.projectsLeftContent {
  width: 30vw;
  max-width: 470px;
}

.projectsLeftContent p {
  text-align: justify;
  color: var(--whiteFont);
  font-size: 13px;
}

.containerLeftContent {
  position: relative;
  top: 66px;
  height: min-content;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  padding: 13px;
  border-radius: 8px;
  border: 1px solid var(--blue);
  background-color: #07070a56;
}

.filterProjectsContainer {
  display: flex;
  justify-self: center;
  justify-content: space-evenly;
  width: max-content;
  max-width: 300px;
  gap: 10px;
}

.btnFrontend,
.btnBackend {
  color: var(--whiteFont);
  height: 30px;
  width: 100px;
  border-radius: 5px;
  border-color: var(--blue);
  background: var(--blueTransparent);
}

.btnFrontend:hover,
.btnBackend:hover {
  box-shadow: 0 0 18px rgba(4, 232, 217, 0.372);
  background-color: var(--blueScrollBar);
}

.btnOn {
  box-shadow: 0 0 18px rgba(4, 232, 217, 0.372);
  background: var(--blue);
}

.shadow {
  height: 68vh;
  min-height: 385px;
  width: 64vw;
  min-width: 300px;
  position: absolute;
  top: 0;
  border-radius: 8px;
  box-shadow: inset 0px 20px 30px -3px rgb(0, 0, 0),
    inset 0px -20px 30px -3px rgb(0, 0, 0);
  z-index: 10;
  pointer-events: none;
  overflow: hidden;
}
