@import url(../styleIndex.css);

#particles-js {
  justify-content: center;
  align-items: end;
  overflow: hidden;
}

/* Reiniciando estilos por Bootstrap */
body {
  line-height: normal;
}

a,
ul {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.sayHiPage {
  z-index: 1;
  height: 70vh;
  width: 90vw;
  display: flex;
  justify-content: center;
  align-items: end;
}

.sayHiPage_socialMediaLogos {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: end;
  gap: 20px;
  height: 60px;
  bottom: 300px;
}

.sayHiPage_socialMediaLogos a,
.sayHiPage_socialMediaLogos button {
  height: 60px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--blue);
  border-radius: 5px;
  background: transparent;
}

.phoneLogo {
  height: 50px;
}

.linkedinLogo {
  height: 60px;
}

.linkedinLogo:hover {
  height: 80px;
}

/* .containerPhoneLogo:hover .phoneLogo {
  display: none;
}
  
.containerPhoneLogo:hover {
  background-image: url(../../img/Gifs/iconPhoneGif.gif);
  background-repeat: no-repeat;
  background-size: 60px;
} */

.whatsappLogo:hover,
.gmailLogo:hover,
.githubLogo:hover {
  height: 70px;
}

.modal-content {
  background-color: var(--blueTransparent);
  color: var(--whiteFont);
  backdrop-filter: blur(10px);
}

.form-control,
.form-control:focus {
  background-color: var(--blueScrollBar);
  color: var(--whiteFont);
}

.form-control:-webkit-autofill,
.form-control:-webkit-autofill:hover,
.form-control:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px rgb(0, 170, 255) inset;
}

.form-floating > .form-control:focus ~ label::after,
.form-floating > .form-control:focus ~ label,
.form-floating > .form-control:not(:placeholder-shown) ~ label,
.form-floating > .form-control:not(:placeholder-shown) ~ label::after {
  background: transparent;
  color: var(--whiteFont);
}

.btn-close {
  background-color: var(--whiteFont);
}
