@import url(../styleIndex.css);
@import url(styleCards.css);

.projectsPage {
  height: 100%;
  width: 100%;
  display: flex;
}

.projectsBottomContentContainer {
  position: relative;
  display: flex;
  top: 25%;
  height: 70vh;
  justify-content: center;
}

.projectsLeftContent {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  width: 35vw;
  max-width: 478px;
}
.projectsLeftContent p {
  text-align: justify;
  color: var(--whiteFont);
}

.filterProjectsContainer {
  display: flex;
  justify-self: center;
  justify-content: space-evenly;
  width:max-content;
  max-width: 300px;
  gap: 10px;
}

.btnFrontend,
.btnBackend {
  color: var(--whiteFont);
  height: 30px;
  width: 100px;
  border-radius: 5px;
  border-color: var(--blue);
  background: rgba(0, 255, 255, 0.113);
  box-shadow: inset 0 0 0 0 var(--blue);
  transition: ease 0.7s;
}
