/* COLOR FONDO VANTA #07192F */

.landingPage {
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 5%;
}

.titleLandingPage {
  color: #fff;
  font-weight: 500;
}

.landingPage_textContent {
  display: flex;
  flex-direction: column;
}

.landingPage_introductionText {
  width: 40vw;
  min-width: 300px;
  max-width: 600px;
  color: #fff;
}

.btnLandingPage {
  color: #fff;
  height: 40px;
  width: 150px;
  border-radius: 5px;
  border-color: rgba(0, 255, 255, 0.616);
  background: rgba(41, 63, 97, 0.473);
}

.btnLandingPage:hover {
  background: rgb(62, 111, 151);
}

.landingPage_imgJhonatan {
  height: 300px;
  border: 2px solid;
  border-color: rgba(0, 255, 255, 0.616);
  border-radius: 5px;
}
