@media (max-width: 768px) {
  /* NAVBAR */
  .navBar_rightSide {
    gap: 20px !important;
  }

  /* LANDING PAGE */
  .landingPage {
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
  }
  .landingPage_leftSide,
  .landingPage_rightSide {
    height: 250px;
    align-items: center;
    align-content: center;
  }

  .titleLandingPage {
    font-size: 30px;
    align-self: center;
  }

  .landingPage_introductionText {
    font-size: 12px;
  }

  .landingPage_imgJhonatan {
    height: 200px;
  }
}
