@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url(mediaQuery.css);

:root {
  --blue: rgba(0, 255, 255, 0.616);
  --blueVantaj: #07192f;
  --whiteFont: #fff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  margin-bottom: 0;
  text-decoration: none;
  list-style: none;
  font-family: "Lato", sans-serif;
}

#vantaBirds {
  height: 100vh;
  width: 100vw;
  position: absolute;
}

.navBar {
  background: rgba(0, 255, 255, 0.03);
  top: 0;
  height: 80px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid var(--blue);
  position: absolute;
  padding-left: 3%;
  padding-right: 3%;
  padding-bottom: 3px;
}

.navBar_logo {
  height: 100%;
}

.navBar_rightSide {
  width: 235px;
  display: flex;
  justify-content: space-between;
}

.navBar_sayHiContainer,
.navBar_programmingContainer,
.navBar_logoContainer {
  height: 100%;
  width: 80px;
}

.Flag img {
  height: 30px;
  width: 30px;
}

.sayHiMenu {
  display: inline-flexbox;
  text-align: end;
}

.programmingMenu {
  right: 180px;
  width: 80px;
}

.containerDropDownMenu {
  position: absolute;
  display: flex;
  justify-content: end;
  padding-top: 10px;
}

.dropDownMenu {
  display: none;
  width: 90px;
}
.dropDownMenu li {
  width: min-content;
}

.dropDownItem {
  width: 80px;
  height: 30px;
  color: var(--whiteFont);
  font-size: 15px;
  text-align: start;
  padding: 2px 5px;
  border: 2px solid var(--blue);
  border-radius: 5px;
  display: inline-block;
  color: var(--whiteFont);
}

.dropDownSubMenu {
  float: left;
  display: none;
}

.dropDownMenu li:hover > .dropDownSubMenu {
  display: block;
}

.sayHiLogo:hover + .containerDropDownMenu .dropDownMenu,
.containerDropDownMenu:hover .dropDownMenu {
  display: block;
}

.programmingLogo:hover + .containerDropDownMenu .dropDownMenu,
.containerDropDownMenu:hover .dropDownMenu {
  display: block;
}

@keyframes circle-in-center {
  from {
    clip-path: circle(0%);
  }
  to {
    clip-path: circle(125%);
  }
}

[transition-style="in:circle:center"] {
  animation: 3.5s cubic-bezier(0.25, 1, 0.3, 1) circle-in-center both;
}
