@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url(stylesPages/styleLandingPage.css);
@import url(stylesPages/sayHi.css);
@import url(mediaQuery.css);

:root {
  --blue: rgba(0, 255, 255, 0.616);
  --blueVantaj: #07192f;
  --whiteFont: #fff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  margin-bottom: 0;
  text-decoration: none;
  font-family: "Lato", sans-serif;
}

#vantaBirds {
  height: 100vh;
}

.navBar {
  background: rgba(0, 255, 255, 0.03);
  top: 0;
  height: 80px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid var(--blue);
  position: absolute;
  padding-left: 3%;
  padding-right: 3%;
  padding-bottom: 3px;
}

.navBar_logo {
  height: 100%;
}

.navBar_rightSide {
  display: flex;
  justify-content: end;
  gap: 100px;
}

.navBar_sayHiContainer,
.navBar_programmingContainer,
.navBar_logoContainer {
  height: 100%;
  width: 80px;
}
