@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url(mediaQuery.css);

:root {
  --blue: rgba(0, 255, 255, 0.616);
  --blueTransparent: rgba(0, 255, 255, 0.113);
  --blueScrollBar: rgba(0, 255, 255, 0.272);
  --blueVantaj: #07192f;
  --whiteFont: #fff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  margin-bottom: 0;
  text-decoration: none;
  list-style: none;
  font-family: "Lato", sans-serif;
}

#vantaBirds {
  position: absolute;
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.navBar {
  position: absolute;
  z-index: 100;
  background: rgba(0, 255, 255, 0.03);
  top: 0;
  height: 80px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid var(--blue);
  padding-left: 3%;
  padding-right: 3%;
  box-shadow: 0 0 10px rgba(4, 232, 217, 0.372);
}

.navBar_logo {
  height: 100%;
}

.navBar_rightSide {
  width: 235px;
  display: flex;
  justify-content: space-between;
}

.navBar_sayHiContainer,
.navBar_programmingContainer,
.navBar_logoContainer {
  height: 100%;
  width: 80px;
}

.spainFlag {
  border-bottom: 2px solid var(--blue);
}

.Flag {
  display: flex;
  height: 50px;
  width: 50px;
}

.Flag img {
  height: 40px;
  width: 40px;
  margin: 5px;
}

.programmingMenu {
  right: 180px;
  width: 80px;
}

.containerDropDownMenu {
  position: absolute;
  display: flex;
  top: 75px;
  text-align: end;
  justify-content: end;
  padding-top: 15px;
}

.languageItem {
  border-bottom: 2px solid var(--blue);
}

.dropDownMenu {
  width: min-content;
  display: none;
}
.dropDownMenu li {
  width: min-content;
}

.dropDownItem {
  width: 80px;
  height: 30px;
  color: var(--whiteFont);
  font-size: 15px;
  text-align: start;
  padding: 6px 8px;
  display: block;
  color: var(--whiteFont);
}

.dropDownSubMenu,
.dropDownMenu {
  border: 2px solid var(--blue);
  border-radius: 5px;
}

.dropDownSubMenu {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 15px;
  right: 105px;
  float: left;
  display: none;
}

.arrowLanguages {
  position: absolute;
  width: 25px;
  right: -25px;
  color: var(--blue);
  font-size: 30px;
  font-weight: 900;
  text-align: center;
}

.dropDownItem:hover,
.Flag:hover {
  box-shadow: 0 0 18px rgba(4, 232, 217, 0.372);
  background-color: var(--blueScrollBar);
}

.languageItem.hovered {
  background-color: var(--blueScrollBar);
  box-shadow: 0 0 18px rgba(4, 232, 217, 0.372);
}
.dropDownMenu li:hover > .dropDownSubMenu,
.dropDownSubMenu:hover > .dropDownSubMenu,
.arrowLanguages:hover > .dropDownSubMenu {
  display: flex;
}

.sayHiLogo:hover + .containerDropDownMenu .dropDownMenu,
.sayHiMenu:hover .dropDownMenu {
  display: block;
}

.programmingLogo:hover + .containerDropDownMenu .dropDownMenu,
.containerDropDownMenu:hover .dropDownMenu {
  display: block;
}

@keyframes circle-in-center {
  from {
    clip-path: circle(0%);
  }
  to {
    clip-path: circle(125%);
  }
}

[transition-style="in:circle:center"] {
  animation: 5s cubic-bezier(0.25, 1, 0.3, 1) circle-in-center both;
}
